<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cities Population</title>
</head>
<body>
{{range .}}
    <div>
        <h1>{{.City}}</h1>
        <h2>{{.Population}}</h2>
    </div>
{{else}}
    <h1>Cities not found</h1>
{{end}}
</body>
</html>